@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Monoton);

/*    Reset CSS  */
* {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
a {
  outline: 0;
  text-decoration: none;
  color: #bbb;
}
img {
  border: 0;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #111;
}

/* 배경동영상 */
.vid {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.9;
  overflow: hidden;
}
.vid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*로고*/
h1.just_logo {
  position: fixed;
  top: 45px;
  left: 45px;
  z-index: 10;
}

h1.shadow_logo {
  position: fixed;
  top: 48px;
  left: 52px;
  z-index: 10;
}

h1 img {
  width: 300px;
  height: auto;
}

.shadow_logo img {
  width: 300px;
  height: auto;
  opacity: 0.25;
}

header {
  width: 700px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: -520px;
  background: linear-gradient(
    -45deg,
    #7eadbd,
    #d0abc5,
    #f0bab1
  ); /*#98b3bc, #cdc2ca, #edccc5*/
  transform: skewX(-30deg);
  opacity: 0.7;
}

/* 1depth*/
#gnb {
  width: 220px;
  position: absolute;
  top: 150px;
  right: 0px;
}
#gnb > li {
  position: relative;
}
#gnb > li > a {
  display: block;
  width: 220px;
  height: 50px;
  font: bold 18px/3 play;
  color: #222;
  box-sizing: border-box;
  padding-right: 40px;
  text-align: right;
}
#gnb > li.on > a {
  color: #222;
}
#gnb > li:hover > a {
  font-size: 1.2em;
}
#gnb em {
  display: inline-block;
  transform: skewX(40deg) !important;
}
#gnb em i {
  margin-right: 20px;
}

/* 2depth */
#gnb ul {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: all 0.4s;
}
#gnb > li:hover ul {
  opacity: 0.8;
  left: 205px;
}
#gnb ul a {
  display: block;
  width: 150px;
  height: 40px;
  background: #bfa4af;
  border-bottom: 2px solid #f54b72;
  border-right: 2px solid #f54b72;
  font: bold 16px/2.5 arial;
  color: #fff;
  box-sizing: border-box;
  padding-left: 50px;
  margin-bottom: 3px;
  transition: all 0.5s;
}
#gnb ul a:hover {
  background: #c37492;
  color: white;
}

/* sns 버튼 모음*/
#sns {
  position: fixed;
  top: 45px;
  right: 50px;
}
#sns li {
  float: left;
  margin-right: 30px;
}
#sns .fa {
  font-size: 25px;
  color: #c37b8b;
  opacity: 0.7;
  transform: scale(1);
  transition: all 0.5s;
}
#sns .fa:hover {
  opacity: 1;
  transform: scale(1.4);
}

/* 텍스트 박스 */
.txtBox {
  width: 500px;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.txt {
  position: absolute;
  top: 55px;
  width: 100%;
  font-size: 18px;
  font-family: 'Play', sans-serif;
  color: #bbb;
  letter-spacing: -1px;
}

.txt b {
  font: bold 23px arial;
  color: #bbb;
  margin-left: 10px;
}
.tit {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 40px;
  color: white;
  font-family: 'Georgia', serif;
  letter-spacing: 2px;
  white-space: nowrap; /* 줄바꿈 방지 */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

/* contents 레이아웃 */
#side {
  width: 800px;
  height: 100%;
  position: fixed;
  bottom: 0px;
  right: -800px;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(-30deg);
  transition: all 0.5s;
  opacity: 0.95;
}
#side:hover {
  right: -400px;
}
#side .con {
  width: 400px;
  height: 100%;
  position: relative;
  left: 150px;
  bottom: 0px;
  background: linear-gradient(
    -45deg,
    rgba(126, 173, 189, 0.65),
    rgba(208, 171, 197, 0.65),
    rgba(240, 186, 177, 0.65)
  );
  box-sizing: border-box;
  padding: 10px;
  transition: all 1s;
}
#side:hover .con {
  left: 50px;
}

/* contents내 썸네일 */
#side .con p {
  width: 300px;
  height: 100px;
  position: absolute;
  left: 50px;
}

#side .con p em {
  display: inline-block;
  font: bold 20px/1.7 arial;
  font-weight: 900;
  color: white;
  transform: skewX(40deg);
  margin-bottom: 5px;
}
#side .con p img {
  display: block;
  width: 300px;
  height: 70px;
  transition: all 0.5s;
  margin-bottom: 10px;
}
#side .con p:nth-of-type(2) img {
  opacity: 0.8;
}

#side .con p:nth-of-type(3) img {
  opacity: 0.75;
}
s #side .con p img:hover {
  transform: scale(1.2);
}
#side .con p:nth-child(1) {
  bottom: 350px;
  transform: translateX(200px);
  transition: all 0.4s;
}
#side .con p:nth-child(2) {
  bottom: 200px;
  transform: translateX(200px);
  transition: all 0.8s;
}
#side .con p:nth-child(3) {
  bottom: 50px;
  transform: translateX(200px);
  transition: all 1.2s;
}
#side:hover .con p {
  transform: translateX(0px);
}

/* 자동롤링 버튼*/
#side .btnContents {
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: 40px;
  left: 100px;
  color: #8c8282;
  transform: skewX(40deg);
}
#side:hover .btnContents {
  left: 700px;
}
.btnContents i {
  font-size: 60px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  opacity: 1;
}
.btnContents i:nth-child(1) {
  animation: ani linear 1.5s 0s infinite;
}
.btnContents i:nth-child(2) {
  animation: ani linear 1.5s 0.5s infinite;
}
.btnContents i:nth-child(3) {
  animation: ani linear 1.5s 1s infinite;
}

@keyframes ani {
  0% {
    right: 0px;
    transform: sclae(1);
    opacity: 1;
  }
  100% {
    right: 100px;
    transform: scale(1.5);
    opacity: 0;
  }
}
